/* === CONTENT-TITLE === */

.content-title {
    text-align: center;
}

/* === CONTENT-CARDS === */

.content-cards {
    display: grid;
    justify-items: center;
    /* align-content: space-around; */
    gap: 1em;
    grid-template-areas: 
        "sp"
        "tb"
        "kr"
        "cl"
    ;
    /* width: auto; */
    /* max-width: 1080px; */
    /* margin: 0 auto; */
}

.c-1 { 
    border-top: 2px solid var(--red);
    grid-area: sp; 
}
.c-2 { 
    border-top: 2px solid var(--cyan);
    grid-area: tb;
 }
.c-3 { 
    border-top: 2px solid var(--orange);
    grid-area: kr; 
}
.c-4 { 
    border-top: 2px solid var(--blue);
    grid-area: cl; 
}

.card {
    background: var(--very-light-gray);
    border-radius: 0.625rem;

    display: flex;
    flex-flow: column;

    max-width: 350px;
    height: 250px;
    padding: 2em 1.5em;
}

.card > h2 {
    color: var(--very-dark-blue);
    font-size: 1.1875rem;
    margin-bottom: 0.75em;
}

.card > p {
    color: var(--grayish-blue);
    font-size: 0.75rem;
    /* font-weight: 700; */
    line-height: 1.8;
}

.card-img {
    margin-top: auto;
    margin-left: auto;
}

@media (min-width: 1110px) {
    .content-cards {
        grid-template-areas: 
            ".  tb  ."
            "sp tb cl"
            "sp kr cl"
            ".  kr  ."
        ;
    }
}

/* === FOOTER === */

footer {
    text-align: center;
    padding: 0.25em 0;
}

footer a { font-weight: 700; }

footer a:hover { color: var(--grayish-blue); }